*{
    
    
    
    margin: auto;
    font: 1em/2 roboto, helvetica, sans-serif;
    font-weight: bolder;
    box-sizing: border-box;
    
    
    /* font-size: 1em;
    line-height: 2; */
    /* 1 em = 16px */
}

.logo{
    margin: 0% 0% -10% 0%;
    text-align: center;
}
    
.header{
    background-image: url("../Images/store.jpeg");
    padding-bottom: 900px;
    background-size: cover;
    border-bottom: rgb(0, 0, 0) 2px solid;
    margin: 2% 0% 0% -1%;

    
}


main{
    background-color: antiquewhite;
}


p{
    font-size: 1.18em;
}
    


/* #my-name{ 
   
    text-align: center;
    font-size: 2em;
} */

.listas{
    
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2%;
    
}
#calloutRight {
    text-align: right;
    margin-right: 5%;
  
    
}
#calloutLeft{
    text-align: left;
    margin-left: 2%;
    margin-bottom: -3%;


    
}

.listas li{
    
    font-size: 1em;
    display: inline-block;
    border: solid #2D2E32 3px; 
    
   
    padding-left: 25px;
    padding-right: 25px;
    
}




h1{
    font-size: 2em;
    
    

}



/* user's function */
a:link{
    color: #444F4F;
    text-decoration: none;
}
a:visited{
    color: rgb(141, 92, 92);
}

a:hover{
    color: rgb(141, 92, 92);
    opacity: 0.6;
    background: none;
}
a:focus{color: rgb(165, 165, 165);
}
/* ______________________ */

.description{
    
    margin: 1% 10% 5% 10%;
    text-align: center;
    background-color: rgb(226, 222, 218);
    padding: 80px;
    max-width: 1800px;
    
    border-top: 10px solid rgb(43, 38, 35);
    border-bottom: 10px solid rgb(43, 38, 35);

  
    /* border-width: 10px; 
    border-style: solid;
    border-color: #3C3633; */
}

.bodytags{
    color:#444F4F;
    text-align: center;
    /* border-top:6px solid rgb(255, 255, 255); */
    
}

    
    
.socialMedia{
    padding: 1% 1% 0% 1%;
    align-items: auto;
}
.SocialLogos{
    margin: 5px;
    padding: 5px 10px 10px 5px;
}    
    

.mainFooter{
    padding-top: 400px;
    padding-bottom: 0px;
    border-bottom: 80px solid rgb(48, 46, 46);
    text-align: center;
}

