*{
    background-color: rgb(255, 255, 255);
    margin: 0;
    font: 1em/1.5 roboto, helvetica, sans-serif;
    font-weight: bolder;
    
    /* font-size: 1em;
    line-height: 1.5; */
    /* 1 em = 16px */
}


#backgroundpicture{
    margin: -1% 0% 0% -1%;
}

#my-name{ 
   
    text-align: center;
    font-size: 2em;

}


.listas li{
    
    text-align: right;
    font-size: 1em;
    display: inline;


    margin: 28px;
    padding-top: 0px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}





/* user's function */
a:link{
    color: #444F4F;
    text-decoration: none;
}
a:visited{
    color: rgb(141, 92, 92);
}

a:hover{
    color: rgb(141, 92, 92);
    opacity: 0.6;
    background: none;
}
a:focus{color: rgb(165, 165, 165);
}






    
    
.socialMedia{
    padding: 1% 1% 0% 1%;
    align-items: center;
    

}
.mainFooter{
    padding-top: 400px;
    padding-bottom: 0px;
    border-bottom: 80px solid rgb(48, 46, 46);
    text-align: center;
}
.bodytags{
    color:#444F4F;
    text-align: center;
    border-top:6px solid rgb(255, 255, 255);
}
#about{
background-color: antiquewhite;
}