

body{
    background-image: url("https://images.pexels.com/photos/1791/vintage-music-white-sound.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
   
}


#my-name{ 
    color:rgb(248, 242, 242);
    font-family:helvetica;
 
    border: 1mm solid rgb(240, 227, 227);
    border-radius: 12px;
    display: inline;
    filter: blur(0.8px);
    margin-left: 5%;
}
.lists {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(248, 242, 242, 0.925);
    
    

}