

#backgroundpicture{
    
    border: inset rgb(228, 235, 228) 2px;
    border-top-left-radius: 25%;
    background-size: cover;   
}

#my-name{ 
    text-align: center;
    background-position: 3ch 4ch;
    color:#f2f5f2;
    font-family:helvetica;
    text-shadow: 0.1ch 0.1ch rgb(82, 82, 82);
 
    border: 1mm solid #f2f5f2;
  
    border-radius: 40px;
    display: inline;
  
}
.listas{
    text-align: right;

}

li{
    font-size: 18px;
    font-family: roboto;

    display: inline;
    color: #979CA0;
    
}
#eachList{
    cursor: pointer;
 
    margin-left: 90px;
    padding-top: 30px;
    padding-bottom: 30px;
    
}
   


#copyright{
    font-family: roboto;
    font-size: 80%;

    
}
footer{
    text-align: center;
    padding: 10%;
}
.footers{
    padding: 1% 1% 0% 1%;

}