
#imagen{
    float: left;
    max-width: 40%;
    border: 10px solid #f9f9f9;
    
    
}
#sideImage{
    
    border-top-left-radius: 30%;
    border-top-right-radius: 25%;
    
    



}





body{
    background-color: #f9f9f9;
}





#my-name{ 
    /*make the logo color as the color of the vinyl like it has a carving*/
    color:#f2f5f2;
    font-family:helvetica;
    text-shadow: 0.1ch 0.1ch rgb(82, 82, 82);
 
    border: 1mm solid #f2f5f2;
  
    border-radius: 40px;
    display: inline;
    margin-left: 5%;

}
ul li{
    font-size: 18px;
    font-family: roboto;
    font-weight: 100;
   
    display: inline;
    color: rgba(153, 153, 153, 0.089);
    list-style: none; 
    padding: 30px 40px 5px;
    align-items: left;
    padding-block-end: 5px;
    text-shadow: 2px 2px #535353;
}
#about{

    cursor: pointer;
    
}